html {
  background-color: #e3edf593;
}
.c-chart {
  width: 100%;
  margin-left: 40px;
  margin-right: 40px;
}
.c-body--title {
  margin-top: 20px;
  margin-bottom: 30px;
  margin-left: 20px;
  color: black;
}
.c-input {
  margin-left: 40px;
  margin-right: 40px;
}
.c-input--field {
  float: left;
  border-radius: 20px;
  background-color: #e3edf5;
  border-color: transparent;
  height: 40px;
  width: 70%;
}
.c-button {
  border-radius: 20px;
  margin-left: 10px;
  background-color: #e3edf5;
  border-color: transparent;
  width: 26%;
  height: 40px;
}
.c-content {
  margin-left: 40px;
  margin-top: 30px;
  margin-right: 40px;
  display: block;
  margin-bottom: 0px;
}

.c-label--name {
  margin: 0 0 0 0;
  float: left;
}
.c-label--value {
  margin: 0 0 0 0;
  text-align: right;
}
